<html>
<head>
    <title>Chat</title>
    <style>
        input{ display: block;}
        ul { list-style: none;}
    </style>
</head>
<body>
    <ul id="messages"></ul>
    <form id="chatbox">
        <textarea></textarea>
        <input type="submit" value="Send">
    </form>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <script>
        $(function(){
            var socket  = null;
            var msgBox = $("#chatbox textarea");
            var messages = $("#messages");
            $("#chatbox").submit(function(){
                if (!msgBox.val()) return false ;
                if (!socket) {
                    alert("Error: there is no socket connection");
                }
                socket.send(msgBox.val());
                msgBox.val("");
                return false;
            });
            if (!window["WebSocket"]) {
                alert("Your browser doesn't support web sockets.");
            }else {
                socket = new WebSocket("ws://{{.Host}}/room");
                socket.onclose = function(){
                    alert("connection has been closed");
                }
                socket.onmessage = function(e) {
                    messages.append($("<li>").text(e.data));
                }
            }

        })
    </script>
</body>
</html>